@use './abstracts/root';
@use './base/reset';
@use './components/cards';

body {
    border: 1px solid red;
    min-height: 100vh;
    font-family: var(--ff-primary);
    font-size: var(--fz);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.header {
    text-align: center;
    margin-bottom: 1rem;
}

.title,
.subtitle {
    font-size: 2rem;
    color: var(--clr-neutral-600);
}

.subtitle {
    font-weight: var(--fw-200);
}

.quote {
    font-size: 1.1rem;
    max-width: 35rem;
    color: var(--clr-neutral-300);
    font-weight: var(--fw-200);
    margin-top: 1rem;
}

.role {

    &__title {
        color: var(--clr-neutral-600);
    }

    &__description {
        color: var(--clr-neutral-300);
        font-size: 1rem;
        font-weight: var(--fw-400);
    }
}

// STYLES ABOVE THIS LINE


// FINISHED MARKUP ABOVE



